@use "./base";
@import "primeicons/primeicons.css";

body {
  background-color: #f4f4fc;
  font-family: var(--primary-font);
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbc1d2;
}

.p-button-icon {
  margin-right: 10px;
}

.buttons-container {
  display: block;
  border-bottom: 1px solid #e9e9e9;
}
