<aside class="hidden lg:block">
  <span class="flex justify-content-center align-items-center mb-5">
    <img class="logo" src="./../../../../assets/img/logo-icon.svg" />
  </span>
  <ul>
    <li>
      <a routerLink="/dashboard">
        <span
          ><img
            [ngClass]="[activeLink === 'dashboard' ? 'active' : 'inactive']"
            src="./../../../../assets/img/dashboard.svg"
        /></span>

        <span
          class="icon-text"
          [ngClass]="[activeLink === 'dashboard' ? 'active' : 'inactive']"
          (click)="changeActiveLink('dashboard', $event)"
          >Dashboard</span
        >
      </a>
    </li>
  </ul>
</aside>
