:root{
    --primary-color: #ffffff;
    --secondary-color:#a3a3a3;
    --border-color:#efefef;
    --background-color:#052288;
    --label-color:#091932;
    --grayscale-color:#bbc1d2;
    --box-shadow-color:#05228838;
    --secondary-border-color:#7070706b;
}