@import "./_mixins.scss";

aside {
  @include sideBarBaseStyle;

  h1 {
    font-size: 2.25rem;
    text-align: center;
    // margin-bottom: 2.25rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;

    .icon-text {
      margin-left: 10px;
    }

    .active {
      color: #c3ccec;
      fill: #c3ccec;
      font-size: 1rem;
    }

    .inactive {
      color: #4e4f56;
      fill: #4e4f56;
    }

    svg {
      width: 1rem;
      height: 1rem;
      margin-right: 1.5rem;
    }
  }

  ul {
    li {
      font-size: 1.5rem;
      margin-bottom: 2.563rem;
      font-weight: 400;
      margin-left: 1.5rem;
    }
  }
}
