@import "./_mixins.scss";

aside {
  @include sideBarBaseStyle;

  ul {
    width: 100%;
    li {
      font-size: 1.5rem;
      padding: 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      background: #f4f4fc;
      color: #ccc;
      a {
        color: #091f44;
        font-size: 1rem;
        text-decoration: none;

        .icon-text {
          margin-left: 10px;
        }

        svg {
          width: 1rem;
          height: 1rem;
          margin-right: 1.5rem;
        }
      }
    }
  }
}
