<h3>{{ header }}</h3>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
  [show]="isLoading"
></ngx-spinner>

<div class="dashboard-container">
  <!-- top buttons -->
  <span class="buttons-container">
    <button
      (click)="changeActiveTab('dashboard'); loadSelectedTabData()"
      [ngClass]="[activeTab === 'dashboard' ? 'active' : 'inactive']"
    >
      Overview
    </button>
    <button
      (click)="changeActiveTab('insights')"
      [ngClass]="[activeTab === 'insights' ? 'active' : 'inactive']"
    >
      Insights
    </button>
    <button
      (click)="changeActiveTab('commands')"
      [ngClass]="[activeTab === 'commands' ? 'active' : 'inactive']"
    >
      Commands
    </button>
  </span>

  <div class="row dropdowns col-12" *ngIf="activeTab === 'insights'">
    <div class="col-12">
      <div class="grid col-12">
        <div class="col-12 md:col-4">
          <p-dropdown
            [options]="clientNames"
            [(ngModel)]="defaultSelectedClient"
            (onChange)="insightClientChange(defaultSelectedClient)"
            placeholder=""
          >
          </p-dropdown>
        </div>

        <div class="col-12 md:col-4">
          <p-dropdown
            [options]="userDropdownData"
            [(ngModel)]="selectedUsername"
            (onChange)="userChange()"
            optionLabel="value"
            optionValue="id"
            placeholder=""
          >
          </p-dropdown>
        </div>
      </div>

      <!-- {{ userData.screens }} -->
      <div *ngIf="userData" class="flow-graph mt-4 mb-4">
        <h5 class="text-left" [ngClass]="{ hide: !userData.screens }">
          User Journey Flow
        </h5>
        <div
          class="col-lg-12 col-md-12 col-sm-12 flow-gragh-container"
          [ngClass]="{ 'disable-class-screen': isScreenOverview === true }"
        >
          <ol>
            <ng-container>
              <li *ngFor="let screen of userData.screens | keyvalue">
                <span id="screenName">{{ screen.key }}</span>
                <ul class="clikedbutton">
                  <ng-container
                    *ngFor="let entry of getObjectEntries(screen.value)"
                  >
                    <div class="actions-list">
                      {{ entry[0] }}: {{ entry[1] }}
                    </div>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ol>
        </div>

        <div
          class="col-12 md:lg-12"
          [ngClass]="{ hide: !isChartDataAvailable }"
        >
          <div class="justify-content-between flex mb-2 text-left">
            <div>
              <label>Would you like to see user journey?</label>
              <div>
                <p-calendar
                  class="date-input field"
                  #datePicker
                  [(ngModel)]="selectedDate"
                  [showIcon]="true"
                  (onSelect)="dateChange($event)"
                  id="icondisplay"
                  placeholder="Select Date"
                ></p-calendar>
              </div>
            </div>
            <div>
              <p-dropdown
                [options]="intervalOptions"
                [(ngModel)]="selectedInterval"
                (onChange)="intervalChange(selectedInterval)"
                optionLabel="label"
                optionValue="value"
              ></p-dropdown>
            </div>
          </div>
          <div class="high-chart" [ngClass]="{ hide: !isChartDataAvailable }">
            <div id="container"></div>
          </div>
        </div>

        <div class="no-data" *ngIf="!isChartDataAvailable">
          <h3 class="mt-8">No data found</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- 
dashboard -->
  <div *ngIf="activeTab == 'dashboard'" class="p-4">
    <app-dashboard-overview></app-dashboard-overview>
  </div>

  <div *ngIf="activeTab === 'commands'" class="p-4">
    <app-dashboard-commands></app-dashboard-commands>
  </div>
</div>
