.flow-graph {
    width: 100%;
    height: 100%;
    text-align: center;
  
    .flow-gragh-container {
     
      padding: 0;
    }
  }
  
  .flow-graph ol {
    list-style: none;
    padding: 0;
    --hue: 1;
    --unit: 0.5rem;
    display: inline-block;
    margin: 0 -24px;
    width: 100%;
  }
  .flow-graph h1 {
    text-align: center;
  }
  .flow-graph p {
    line-height: 1.3;
  }
  .flow-graph .event-date {
    margin: 0 0 0.25rem;
    font-weight: bold;
    font-size: 12px;
  }
  .flow-graph .event-description {
    margin: 0;
    display: none;
  }
  .flow-graph li {
    --height: 3rem;
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding: 0.1rem;
    margin: 0.1rem;
    width: calc(20% - 0.2rem);
    vertical-align: top;
  }
  .flow-graph li::before {
    content: "";
    background-color: var(--grayscale-color);
    position: absolute;
    display: block;
    width: 3px;
    height: 36px;
    top: 100%;
    left: calc(50% - (var(--unit) / 2));
  }
  .flow-graph li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid var(--grayscale-color);
    bottom: -44px;
    left: calc(50% - 10px);
    color: var(--grayscale-color);
  }
  .flow-graph li:last-child::before,
  .flow-graph li:last-child::after {
    content: none;
  }
  .flow-graph li:nth-child(20n + 1) {
    --hue: 1;
  }
  .flow-graph li:nth-child(20n + 2) {
    --hue: 2;
  }
  .flow-graph li:nth-child(20n + 3) {
    --hue: 3;
  }
  .flow-graph li:nth-child(20n + 4) {
    --hue: 4;
  }
  .flow-graph li:nth-child(20n + 5) {
    --hue: 5;
  }
  .flow-graph li:nth-child(20n + 6) {
    --hue: 6;
  }
  .flow-graph li:nth-child(20n + 7) {
    --hue: 7;
  }
  .flow-graph li:nth-child(20n + 8) {
    --hue: 8;
  }
  .flow-graph li:nth-child(20n + 9) {
    --hue: 9;
  }
  .flow-graph li:nth-child(20n + 10) {
    --hue: 10;
  }
  .flow-graph li:nth-child(20n + 11) {
    --hue: 11;
  }
  .flow-graph li:nth-child(20n + 12) {
    --hue: 12;
  }
  .flow-graph li:nth-child(20n + 13) {
    --hue: 13;
  }
  .flow-graph li:nth-child(20n + 14) {
    --hue: 14;
  }
  .flow-graph li:nth-child(20n + 15) {
    --hue: 15;
  }
  
  @media (min-width: 1300px) {
    .flow-graph li {
      margin: 0.6rem 36px;
      float: left;
      height: 13rem;
      border-radius: 4px;
      box-shadow: 3px 7px 7px 0px #c9cede;
      border-radius: 5px;
      width: calc(20% - 72px);
      margin-bottom: 35px;
    }
    .flow-graph li:nth-child(10n + 6),
    .flow-graph li:nth-child(10n + 7),
    .flow-graph li:nth-child(10n + 8),
    .flow-graph li:nth-child(10n + 9) {
      float: right;
    }
    .flow-graph li:nth-child(10n + 1)::before,
    .flow-graph li:nth-child(10n + 2)::before,
    .flow-graph li:nth-child(10n + 3)::before,
    .flow-graph li:nth-child(10n + 4)::before {
      top: 94px;
      left: 100%;
      color: var(--grayscale-color);
      width: 70px;
      height: 3px;
      background-color:var(--grayscale-color);
    }
    .flow-graph li:nth-child(10n + 1)::after,
    .flow-graph li:nth-child(10n + 2)::after,
    .flow-graph li:nth-child(10n + 3)::after,
    .flow-graph li:nth-child(10n + 4)::after {
      top: 88px;
      left: calc(100% + 64px);
      border: var(--unit) solid transparent;
      border-left-color: inherit;
      color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(10n + 7)::before,
    .flow-graph li:nth-child(10n + 6)::before,
    .flow-graph li:nth-child(10n + 8)::before,
    .flow-graph li:nth-child(10n + 9)::before {
      top: 94px;
      left: -70px;
      color: var(--grayscale-color);
      width: 70px;
      height: 3px;
    }
    .flow-graph li:nth-child(10n + 7)::after,
    .flow-graph li:nth-child(10n + 6)::after,
    .flow-graph li:nth-child(10n + 8)::after,
    .flow-graph li:nth-child(10n + 9)::after {
      left: calc(0% - 78px);
      border: var(--unit) solid transparent;
      border-right-color: inherit;
      color: var(--grayscale-color);
      top: 88px;
    }
  
    #screenName {
      background-color:var(--background-color);
      color: #ebeef9;
      width: 100%;
      display: block;
      height: 36px;
      padding: 0.5rem 0;
      border-radius: 5px 5px 0px 0px;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1299px) {
    .flow-graph li {
      margin: 0.6rem 36px;
      float: left;
      height: 13rem;
      border-radius: 4px;
      box-shadow: 3px 7px 7px 0px #c9cede;
      border-radius: 5px;
      width: calc(25% - 72px);
      margin-bottom: 35px;
    }
    .flow-graph li:nth-child(8n + 5),
    .flow-graph li:nth-child(8n + 6),
    .flow-graph li:nth-child(8n + 7) {
      float: right;
    }
    .flow-graph li:nth-child(8n + 1)::before,
    .flow-graph li:nth-child(8n + 2)::before,
    .flow-graph li:nth-child(8n + 3)::before {
      top: 94px;
      left: 100%;
      color: var(--grayscale-color);
      width: 70px;
      height: 3px;
      background-color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(8n + 1)::after,
    .flow-graph li:nth-child(8n + 2)::after,
    .flow-graph li:nth-child(8n + 3)::after {
      top: 88px;
      left: calc(100% + 64px);
      border: var(--unit) solid transparent;
      border-left-color: inherit;
      color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(8n + 5)::before,
    .flow-graph li:nth-child(8n + 7)::before,
    .flow-graph li:nth-child(8n + 6)::before {
      top: 94px;
      left: -70px;
      color: var(--grayscale-color);
      width: 70px;
      height: 3px;
    }
    .flow-graph li:nth-child(8n + 7)::after,
    .flow-graph li:nth-child(8n + 5)::after,
    .flow-graph li:nth-child(8n + 6)::after {
      left: calc(0% - 78px);
      border: var(--unit) solid transparent;
      border-right-color: inherit;
      color: var(--grayscale-color);
      top: 88px;
    }
  
    #screenName {
      background-color: var(--background-color);
      color: #ebeef9;
      width: 100%;
      display: block;
      height: 36px;
      padding: 0.5rem 0;
      border-radius: 5px 5px 0px 0px;
    }
  }
  
  @media (max-width: 899px) {
    .flow-graph li {
      margin: 0.6rem 36px;
      float: left;
      height: 13rem;
      width: calc(50% - 72px);
      box-shadow: 3px 7px 7px 0px #c9cede;
      border-radius: 5px;
      position: relative;
      margin-bottom: 35px;
    }
  
    .flow-graph li:nth-child(4n + 3) {
      float: right;
    }
    .flow-graph li:nth-child(4n + 1)::before {
      top: 94px;
      left: 100%;
      color:var(--grayscale-color);
      width: 70px;
      height: 3px;
      background-color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(4n + 1)::after {
      top: 88px;
      left: calc(100% + 64px);
      border: var(--unit) solid transparent;
      border-left-color: inherit;
      color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(4n + 3)::before {
      top: 94px;
      left: -70px;
      color: var(--grayscale-color);
      width: 70px;
      height: 3px;
    }
    .flow-graph li:nth-child(4n + 3)::after {
      left: calc(0% - 78px);
      border: var(--unit) solid transparent;
      border-right-color: inherit;
      color: var(--grayscale-color);
      top: 88px;
    }
    #screenName {
      background-color: var(--background-color);
      color: #ebeef9;
      width: 100%;
      display: block;
      height: 36px;
      padding: 0.5rem 0;
      border-radius: 5px 5px 0px 0px;
    }
  }
  
  @media (max-width: 490px) {
    .flow-graph li {
      margin: 0.6rem 31px;
      float: left;
      height: 13rem;
      width: calc(100% - 60px);
      position: relative;
      margin-bottom: 35px;
      box-shadow: 3px 7px 7px 0px #c9cede;
      border-radius: 5px;
    }
  
    .flow-graph li:nth-child(2n + 1)::before {
      top: calc(100% + 1px);
      left: 50%;
      transform: translateX(-50%);
      color: var(--grayscale-color);
      width: 3px;
      height: 36px;
      background-color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(2n + 1)::after {
      top: calc(100% + 35px);
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      border: var(--unit) solid transparent;
      border-left-color: inherit;
      color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(2n + 3)::before {
      top: calc(100% + 1px);
      left: 50%;
      transform: translateX(-50%);
      color: var(--grayscale-color);
      width: 3px;
      height: 36px;
      background-color: var(--grayscale-color);
    }
    .flow-graph li:nth-child(2n + 3)::after {
      top: calc(100% + 35px);
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
      border: var(--unit) solid transparent;
      border-left-color: inherit;
      color: var(--grayscale-color);
    }
    #screenName {
      background-color: var(--background-color);
      color: #ebeef9;
      width: 100%;
      display: block;
      height: 36px;
      padding: 0.5rem 0;
      border-radius: 5px 5px 0px 0px;
    }
  }
  
  .clikedbutton {
    padding: 0px;
    color: #707070;
    overflow-y: auto;
    max-height: 160px;
    height: calc(100vh - 160px);
  }
  
  .clikedbutton::-webkit-scrollbar {
    width: 4px;
  }
  
  .clikedbutton::-webkit-scrollbar-track {
    background: var(--grayscale-color);
  }
  
  .clikedbutton::-webkit-scrollbar-thumb {
    background: var(--grayscale-color);
  }
  
  .actions-list {
    max-height: 200px;
    font-size: 14px;
    margin-top: 8px;
  }
  